'.source.torquescript':
  'Function':
    'prefix': 'function'
    'body': 'function ${1:name}(${2:arguments})\n{\n\t$3\n}'
  'Method':
    'prefix': ':function'
    'body': 'function ${1:namespace}::${2:name}(${3:arguments})\n{\n\t$4\n}'
  'if':
    'prefix': 'if'
    'body': 'if (${1:1})\n{\n\t$2\n}'
  'if … else':
    'prefix': 'ife'
    'body': 'if (${1:1})\n{\n\t$2\n}\nelse\n{\n\t$3\n}'
  'else':
    'prefix': 'else'
    'body': 'else\n{\n\t$1\n}'
  'while':
    'prefix': 'while'
    'body': 'while\n(${1:1})\n{\n\t${2:break;}\n}'
  'for':
    'prefix' : 'for'
    'body' : 'for (${1:%i = 0}; ${2:%i < 10}; ${3:%i++})\n{\n\t$4\n}'
  'switch':
    'prefix': 'switch'
    'body': 'switch (${1:value})\n{\ncase ${2:expression}:\n\t$3\n\n$4\ndefault:\n\t$5\n}'
  'New Object':
    'prefix': 'new'
    'body': 'new ${1:ScriptObject}(${2:name})\n{\n\t$3\n}'
  'Inherit Object':
    'prefix': ':new'
    'body': 'new ${1:ScriptObject}(${2:name} : ${3:parent})\n{\n\t$4\n}'
  'New Datablock':
    'prefix': 'datablock'
    'body': 'datablock ${1:ClassName}Data(${2:name})\n{\n\t$3\n}'
  'Inherited Datablock':
    'prefix': ':datablock'
    'body': 'datablock ${1:ClassName}Data(${2:name} : ${3:parent})\n{\n\t$4\n}'
